.cardSK {
  align-items: center;
  border: 1px solid $color-text;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 26rem;
  margin-bottom: 1.5rem;
  padding: 0.6rem;
  width: 100%;

  @include tablet {
    height: 21rem;
    min-width: 14.22rem;
  }
  @include desktop {
    max-width: 26rem;
    min-width: 15rem;
  }
  &__img {
    min-height: 11.4rem;
    width: 100%;
    @include tablet {
      height: 8rem;
      min-height: 8rem;
    }
  }
  &__title {
    height: 2rem;
    width: 100%;
    margin: 27px 0;
  }
  &__info {
    height: 1.8rem;
    width: 100%;
  }
}
