.gameList {
  @include desktop {
    overflow: auto;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem 3rem;
  padding: 0;
  justify-items: center;
  margin-bottom: 5rem;
}

.container {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 20px;
  &__link {
    border-radius: 50%;
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: red;
  }
}
