.card {
  align-items: center;
  //background: #ffffff44;
  border: 0.3px solid #008dd5;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  height: 26rem;
  margin-bottom: 1.5rem;
  padding: 0.6rem;
  width: 100%;

  @include tablet {
    font-size: 0.9rem;
    height: 20rem;
  }

  &__container--img {
    min-height: 11.4rem;
    //height: 18rem;
    overflow: hidden;
    width: 100%;

    @include tablet {
      height: 8rem;
      min-height: 8rem;
    }
  }
  &__img {
    min-height: 11.4rem;
    object-fit: cover;
  }
  &__title {
    text-align: center;
    color: #fff;
    font-family: $font-game_title;
  }
  &__date {
    font-family: $font-game_genre;
    font-size: 12px;
  }
  &__genres,
  &__platforms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &--logo {
      height: 32px;
      padding: 6px;
    }

    &--genre,
    &--platform {
      padding: 3px;
    }
    &--genre {
      font-family: $font-game_genre;
      font-size: 12px;
    }
  }
}
