.header__title {
  font-family: $font-title;
  color: #fff;
  text-align: center;
  font-size: 2.2rem;
  animation: 0.8s text-shadow 2 alternate;
  line-height: 1;
}

@keyframes text-shadow {
  0% {
    transform: skewX(-15deg);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb20e1, 0 0 0 #fefc4b;
  }

  20% {
    transform: skewX(15deg);
    text-shadow: 0 0.125em 0 #0c2ffb, 0 0.25em 0 #2cfcfd, 0 -0.125em 0 #fb20e1,
      0 -0.25em 0 #fefc4b;
  }

  30% {
    transform: skewX(-15deg);
    text-shadow: 0 -0.0625em 0 #0c2ffb, 0 -0.125em 0 #2cfcfd,
      0 0.0625em 0 #fb20e1, 0 0.125em 0 #fefc4b;
  }

  40% {
    transform: skewX(15deg);
    text-shadow: 0 0.03125em 0 #0c2ffb, 0 0.0625em 0 #2cfcfd,
      0 -0.03125em 0 #fb20e1, 0 -0.0625em 0 #fefc4b;
  }

  50% {
    transform: skewX(0deg);
    text-shadow: 0 0 0 #0c2ffb, 0 0 0 #2cfcfd, 0 0 0 #fb20e1, 0 0 0 #fefc4b;
  }

  100% {
    transform: skewX(0deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
