.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include desktop {
    margin-top: 0;
  }
  &__info {
    font-family: $font-game_text;
    color: $color-text;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    &--number {
      font-weight: bold;
    }
  }
}
