$font-title: "Major Mono Display", monospace;
$font-game_title: "Kdam Thmor Pro", sans-serif;
$font-game_text: "Quicksand", sans-serif;

$color-text: #aaaaaa;
$color-main: #008dd5;
$color-card_hover: hsla(322, 87%, 56%, 0.4);
$color-card_hover_shadow: hsla(322, 70%, 25%, 0.4);

$color-animated_bg: linear-gradient(270deg, #fa8ffc3b, #3fd0f05d);
$color-animated_bg_shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
